{% extends "main.html" %} {% block tabs %} {{ super() }}
<style>
	:root {
		--cl-dark: hsla(232, 42%, 10%, 100%);
		--cl-font: hsla(229, 20%, 51%, 100%);
		--cl-green: hsla(180, 44%, 50%, 100%);
	}
	.md-main {
		flex-grow: 0;
	}

	.md-main__inner {
		display: flex;
		height: 100%;
	}

	.tx-container {
		padding-top: 0rem;
		background: linear-gradient(
			to bottom,
			var(--md-primary-fg-color),
			rgb(60, 171, 169) 99%,
			#fff 99%
		);
	}

	.tx-hero {
		display: flex;
		margin: 32px 0;
		color: var(--md-primary-bg-color);
		justify-content: space-around;
		padding-inline: 16px;
		gap: 32px;
	}

	.tx-hero h1 {
		margin-bottom: 1rem;
		color: currentColor;
		font-weight: 700;
	}

	.tx-hero__content {
		padding-bottom: 1rem;
		margin: 0 auto;
	}

	.tx-hero__image {
		width: 50%;
		max-height: 17rem;
		order: 1;
		padding-inline-start: 2.5rem;
		height: fit-content;
	}

	.tx-hero .md-button {
		margin-top: 0.5rem;
		margin-right: 0.5rem;
		color: var(--md-primary-bg-color);
	}

	.tx-hero .md-button--primary {
		background-color: var(--md-primary-bg-color);
		color: rgb(95, 189, 188);
		border-color: var(--md-primary-bg-color);
	}

	.tx-hero .md-button:focus,
	.tx-hero .md-button:hover {
		background-color: var(--md-accent-fg-color);
		color: var(--md-default-bg-color);
		border-color: var(--md-accent-fg-color);
	}

	.feature-item h2 svg {
		height: 30px;
		float: left;
		margin-right: 10px;
		transform: translateY(10%);
	}

	.top-hr {
		margin-top: 42px;
	}

	.feature-item {
		font-family: "Lato", sans-serif;
		font-weight: 300;
		box-sizing: border-box;
		padding: 0 15px;
		word-break: break-word;
	}

	.feature-item h2 {
		color: #333;
		font-weight: 300;
		font-size: 25px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		line-height: normal;
		margin-top: 20px;
		margin-bottom: 10px;
		font-family: inherit;
	}

	.feature-item p {
		font-size: 16px;
		line-height: 1.8em;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		color: #111;
		margin: 0 0 10px;
		display: block;
	}

	.th-container {
		max-width: 61rem;
		width: 100%;
		padding-inline: 16px;
		margin-inline: auto;
	}
	.featuresSection {
	}

	.section__title {
		font-size: 25px;
		font-weight: bolder;
		color: var(--cl-green);
	}

	.feature__grid {
		padding: 0;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 16px;
	}

	.feature__card {
		border: 1px solid rgba(0, 0, 0, 0.1);
		padding: 16px;
		border-radius: 4px;
		list-style: none;
	}

	.feature__title {
		font-size: 18px;
		font-weight: bold;
		color: var(--cl-dark);
	}

	.feature__content {
		font-size: 14px;
		color: var(--cl-font);
	}

	@media screen and (max-width: 76.1875rem) {
		.tx-hero__image {
			padding-inline-start: 0;
		}
	}

	@media screen and (max-width: 60rem) {
		.feature__grid {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media screen and (max-width: 56.25rem) {
		.tx-hero {
			flex-direction: column;
			gap: 16px;
		}

		.tx-hero__image {
			width: 100%;
			max-width: 27rem;
			margin-inline: auto;
		}
	}

	@media screen and (max-width: 35.625rem) {
		.feature__grid {
			grid-template-columns: 1fr;
		}
	}

	@media screen and (max-width: 30em) {
		.tx-hero h1 {
			font-size: 1.4rem;
		}
	}

	@media screen and (min-width: 60em) {
		.md-sidebar--secondary {
			display: none;
		}

		.tx-hero {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 32px;
		}

		.tx-hero__content {
			max-width: 22rem;
			margin-top: 3.5rem;
			margin-bottom: 3.5rem;
			margin-left: 0;
			margin-right: 4rem;
			align-items: center;
		}
	}

	@media screen and (min-width: 76.25em) {
		.md-sidebar--primary {
			display: none;
		}

		.top-hr {
			width: 100%;
			display: flex;
			max-width: 61rem;
			margin-right: auto;
			margin-left: auto;
			padding: 0 0.2rem;
		}

		.bottom-hr {
			margin-top: 10px;
			width: 100%;
			display: flex;
			max-width: 61rem;
			margin-right: auto;
			margin-left: auto;
			padding: 0 0.2rem;
		}

		.feature-item {
			flex: 1;
			min-width: 0;
		}

		.feature-item:hover {
			background-color: rgb(198, 243, 298);
			border-radius: 3px;
		}
	}

	.hr {
		border-bottom: 1px solid #eee;
		width: 100%;
		margin: 20px 0;
	}

	.text-center {
		text-align: center;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
		margin-top: 15px;
		font-family: "Lato", sans-serif;
		font-size: 23px;
		font-weight: 300;
		padding-bottom: 10px;
	}

	.logos {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: row wrap;
		margin: 0 auto;
	}

	.logos img {
		flex: 1 1 auto;
		padding: 25px;
		max-height: 130px;
		vertical-align: middle;
	}

	.hr-logos {
		margin-top: 0;
		margin-bottom: 30px;
	}

	.md-footer-meta__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 1rem;
	}

	.md-footer-social {
		padding-top: 20px;
	}
</style>
<section class="tx-container">
	<div class="md-grid md-typeset">
		<div class="tx-hero">
			<div class="tx-hero__image">
				<img src="assets/images/hero-thehive.png" draggable="false" />
			</div>
			<div class="tx-hero__content">
				<h1>TheHive technical documentation</h1>
				<p><b>Install, configure & maintain</b> TheHive up and running for analysts!</p>
				<a href="thehive/setup/" title="Setup Guides" class="md-button md-button--primary">
					Getting started
				</a>
				<a
					href="thehive/download"
					title="{{ lang.t('source.link.title') }}"
					class="md-button"
				>
					Download TheHive!
				</a>
			</div>
		</div>
	</div>
</section>

<section class="th-container featuresSection">
	<h2 class="section__title">Features</h2>

	<ul class="feature__grid">
		<li class="feature__card">
			<p class="feature__title">Alert management</p>

			<p class="feature__content">
				Go through your dedicated and detailed Alert page, make comments, identify similar
				Alerts, define custom statuses and fields. Then decide whether or not they should be
				escalated to investigations or to incident response.
			</p>
		</li>

		<li class="feature__card">
			<p class="feature__title">Case management</p>

			<p class="feature__content">
				Create cases and associated tasks and observables. Identify similar cases and
				alerts, define the PAP (Permissible Actions Protocol) level on each Observable, or
				improve your Incident Response process using a simple yet powerful template engine.
			</p>
		</li>

		<li class="feature__card">
			<p class="feature__title">Multi Tenant Environments</p>

			<p class="feature__content">
				Define the different organizations and teams and get them to work in a dedicated or
				collaborative mode: tenants' cases can be isolated or investigated by users from
				different organizations based on customizable roles and permissions.
			</p>
		</li>

		<li class="feature__card">
			<p class="feature__title">Advanced User management</p>

			<p class="feature__content">
				Define and customize user profiles, assign them to users within their organizations
				and synchronise them via LDAP or AD.
			</p>
		</li>

		<li class="feature__card">
			<p class="feature__title">Metrics and dashboards</p>

			<p class="feature__content">
				Compile and correlate statistics on cases, tasks, observables, metrics and more to
				generate useful KPIs and MBOs with our dynamic dashboard engine.
			</p>
		</li>

		<li class="feature__card">
			<p class="feature__title">MISP Integration</p>

			<p class="feature__content">
				Get shared Indicators of compromise quickly imported and ready to use or share yours
				easily with your communities by connecting TheHive with MISP.
			</p>
		</li>

		<li class="feature__card">
			<p class="feature__title">MITRE ATT&CK Integration</p>

			<p class="feature__content">
				Import all of the MITRE ATT&CK Framework TTPs to TheHive Alert management. Import
				Tactics and Techniques of a particular Case or Alert or simply export them to a MISP
				event.
			</p>
		</li>
	</ul>
</section>

{% endblock %} {% block content %}{% endblock %} {% block footer %}{% endblock %}
