{% extends "main.html" %} {% block tabs %} {{ super() }}
    <div class="paint-filter">
        <svg width="0" height="0" class="absolute hidden" color-interpolation-filters="sRGB">
            <filter id="liquid-block-5">
                <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur"></feGaussianBlur>
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="liquid-block-5"></feColorMatrix>
                <feComposite in="SourceGraphic" in2="liquid-block-5" operator="atop"></feComposite>
                <feBlend in="SourceGraphic" in2="liquid-block-5"></feBlend>
            </filter>
        </svg>
    </div>
    
    {% if page.meta.hero %}
    <section class="pad docs-hero">
        <div class="content">
            <div class="img-frame left"><img src="/assets/images/hero-decor-l.png" alt=""></div>
            <div class="img-frame right"><img src="/assets/images/hero-decor-r.png" alt=""></div>
            <div class="img-frame mobile"><img src="/assets/images/hero-decor-mob.png" alt=""></div>
            <div class="group">
                <div class="img-frame"><img src="/assets/images/thehive-logo.svg" alt=""></div>
                <h1 class="title">{% for part in page.meta.hero.title.split('*') %}
                    {% if loop.index is odd %}
                    {{ part }}
                    {% else %}
                    <div class="text-decor"><span>{{ part }}</span></div>
                    {% endif %}
                {% endfor %}</h1>
                <div class="subtitle">{{ page.meta.hero.text }}</div>
            </div>
            <div class="substract">
                {% for link in page.meta.hero.links %}
                <a href="{{ link.url }}" class="btn {{ link.style | default('secondary') }}">
                    <div class="txt">{{ link.text }}</div><div class="icon"></div>
                </a>
                {% endfor %}
            </div>
        </div>
    </section>    
    {% endif %}
    {% if page.meta.sections %}
    <section class="pad2 docs-main">
        <div class="content">
            <div class="section-title">
                <h3 class="title">{{ page.meta.sections.title }}</h3>
                <p class="subtitle">{{ page.meta.sections.text }}</p>
            </div>
            <div class="block">
                <div class="anchor-wrapper">
                    <div class="anchor">
                        <div class="text">{{ page.meta.sections.anchors }}</div>
                        <div class="group">
                        {% for item in page.meta.sections.data %}
                            <a href="#{{ item.anchor.href }}">{{ item.anchor.name }}</a>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                {% for item in page.meta.sections.data %}
                <div class="item">
                    <div class="anchor-item" id="{{ item.anchor.href }}"></div>
                    <div class="name">
                        <div class="img-frame"><img src="{{ item.icon }}" alt=""></div>
                        <div class="text">
                            <h3 class="title">{{ item.title }}</h3>
                            <p class="subtitle">{{ item.text }}</p>
                        </div>
                    </div>
                    <div class="data">
                        {% for group in item.groups %}
                        <div class="group">
                            <h4 class="title text-decor"><span>{{ group.title }}</span></h4>
                            <div class="list">
                            {% for link in group.links %}
                            <a href="{{ link.url }}">{{ link.text }}</a>                                
                            {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>    
    {% endif %}

{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{{ super() }}{% endblock %}
