{% extends "base.html" %} {% block extrahead %}
<meta name="robots" content="index" />

<!-- Open graph  -->
<meta property="og:type" content="website" />
<meta property="og:title" content="TheHive 5 Documentation" />
<meta
  property="og:description"
  content="StrangeBee provides cutting edge incident response automation to hundreds of SOC, CERT & CSIRT teams."
/>
<meta property="og:site_name" content="StrangeBee Docs" />
<meta
  property="og:image"
  content="https://docs.strangebee.com/images/share/meta-open-graph.png"
/>
<meta property="og:url" content="https://docs.strangebee.com" />
<meta property="og:locale" content="en_US" />
<meta
  property="og:video"
  content="https://www.youtube.com/watch?v=fBzaVhABGMY"
/>

<!-- Twitter card  -->
<meta name="twitter:title" content="TheHive 5 Documentation" />
<meta
  name="twitter:description"
  content="StrangeBee provides cutting edge incident response automation to hundreds of SOC, CERT & CSIRT teams."
/>
<meta
  name="twitter:image"
  content="https://docs.strangebee.com/images/share/meta-twitter-card.png"
/>
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@StrangeBee" />
<meta name="twitter:creator" content="@StrangeBee" />

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "StrangeBee - Docs",
    "alternateName": "StrangeBee",
    "url": "https://docs.strangebee.com/",
    "logo": "https://docs.strangebee.com/assets/images/strangebee.svg",
    "sameAs": "https://twitter.com/StrangeBee"
  }
</script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "WebSite",
    "name": "StrangeBee - Docs",
    "url": "https://docs.strangebee.com/",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://docs.strangebee.com/thehive/setup/configuration/ssl/?h={search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
</script>

{% endblock %}
