:root {
	--size-large: 2rem;
	--size-medium: 1.5rem;
	--size-normal: 1rem;
	--size-small: 0.5rem;
	--size-xsmall: 0.25rem;
	--size-mini: 0.125rem;

	--size-large-px: 32px;
	--size-medium-px: 24px;
	--size-normal-px: 16px;
	--size-small-px: 8px;
	--size-xsmall-px: 4px;
	--size-mini-px: 2px;
}
