copyright: Copyright 2022 StrangeBee. All rights reserved.
site_name: TheHive 5 Documentation
site_url: https://docs.strangebee.com
theme:
  name: material
  custom_dir: ./overrides/
  logo: 'assets/images/strangebee.svg'
  features:
    - content.code.annotate
    - content.tabs.link
    - navigation.sections
    - navigation.instant
    - navigation.indexes
    - navigation.tabs
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  palette:
    primary: blue
    accent: blue
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/images/favicon.ico

extra_css:
  - assets/stylesheets/extra.css

plugins:
  - search
  - awesome-pages
  - glightbox
  - redirects:
        redirect_maps:
            'thehive/index.md': 'thehive/setup/index.md'

extra:
  social:
    - icon: fontawesome/brands/linkedin
      link: "https://www.linkedin.com/company/strangebee"
    - icon: fontawesome/brands/twitter
      link: "https://twitter.com/StrangeBee"
    - icon: fontawesome/brands/mastodon
      link: "https://infosec.exchange/@Strangebee"
    - icon: fontawesome/brands/discord
      link: "https://chat.thehive-project.org"
    - icon: fontawesome/brands/youtube
      link: "https://www.youtube.com/channel/UCUmojqcxiG_LUbe62pR2Igg"

markdown_extensions:
  - toc:
      permalink: "#"
  - footnotes
  - attr_list
  - md_in_html
  - def_list
  - codehilite
  - admonition
  - pymdownx.critic
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.details
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

nav:
  - Home: index.md
  - TheHive:
    - 'Overview': thehive/setup/index.md
    - 'Download': thehive/download/index.md
    - 'Installation':
      - thehive/setup/installation/step-by-step-guide.md
      - 'Deploy a cluster': thehive/setup/installation/3-node-cluster.md
      - 'Running with Docker': thehive/setup/installation/docker.md
      # - 'Activate a license': thehive/setup/installation/license.md
      - thehive/setup/installation/kubernetes.md
    - 'Version Upgrades':
      - thehive/setup/installation/upgrade-from-5.0.x.md
      - thehive/setup/installation/upgrade-from-4.x.md
      - thehive/setup/installation/migration.md
    - 'Configuration & Operations':
      - 'Configuration':
        - 'Database & index': thehive/setup/configuration/database.md
        - 'File storage': thehive/setup/configuration/file-storage.md
        - thehive/setup/configuration/connectors.md
        - thehive/setup/configuration/akka.md
        - thehive/setup/configuration/logs.md
        - thehive/setup/configuration/proxy.md
        - thehive/setup/configuration/secret.md
        - thehive/setup/configuration/ssl.md
        - 'Compliance':
          - 'GDPR': thehive/compliance/gdpr.md
      - 'Operations': 
        - 'Operations on a Cassandra Cluster': thehive/setup/operations/cassandra-cluster.md
        - thehive/setup/operations/backup-restore.md
        - thehive/setup/operations/cassandra-security.md
        - 'Operations on a MINIO cluster': thehive/setup/operations/minio-cluster.md
        - thehive/setup/operations/fail2ban.md
        - thehive/setup/operations/change-index.md
        - thehive/setup/operations/troubleshooting.md
    - 'Administration Guides': 
      - 'First start': thehive/administration/first-start.md
      - 'Manage organisations': 
        - 'Create/Update an Organisation': thehive/administration/organisations.md
        - 'Link Organisations': thehive/administration/organisation-links.md
      - 'Manage accounts': 
        - 'Create/update an account': thehive/administration/accounts.md
      - 'Platform Management':
        - 'Branding': thehive/administration/branding.md
        - 'License': thehive/administration/license.md
        - 'Cortex': thehive/administration/cortex.md
        - 'MISP': thehive/administration/misp.md
        - 'Authentication':
          - 'General settings': thehive/administration/authentication/general.md
          - 'Local': thehive/administration/authentication/local.md
          - 'LDAP': thehive/administration/authentication/ldap.md
          - 'AD': thehive/administration/authentication/ad.md
          - 'SAML': thehive/administration/authentication/saml.md
          - 'OAUTH2': thehive/administration/authentication/oauth2.md
        - 'SMTP': thehive/administration/smtp.md
      - 'Entities management':
        - 'Profiles': thehive/administration/profiles.md
        - 'Custom fields': thehive/administration/custom-fields.md
        - 'Observable types': thehive/administration/observables-types.md
        - 'Case status': thehive/administration/case-status.md
        - 'Alert status': thehive/administration/alert-status.md
        - 'Analyzers templates': thehive/administration/analyzers-templates.md
        - 'Taxonomies': thehive/administration/taxonomies.md    
        - 'Att&ck patterns': thehive/administration/attack-patterns.md
    # - 'User Interface':
    #   - 'Navigation': thehive/user-interface/navigation.md
    #   - 'Lists & views': thehive/user-interface/lists.md
    - 'User Guides':
    #   - 'First login': thehive/user-guides/getting-started.md
      - "I forgot my password": thehive/user-guides/forgot-password.md
    #   - 'User settings': thehive/user-guides/user-settings.md
    #   - 'Cases':
    #     - 'Create a Case': thehive/user-guides/cases/create.md
    #     > Add new Case action here
    #   - 'Alerts':
    #     - 'Create an Alert': thehive/user-guides/alerts/create.md
    #     > Add new Alert action here
    #   - 'Dashboards':
    #     - 'Create a Dashboard': thehive/user-guides/dashboards/create.md
    #     > Add new Dashboard action here
    #   - 'Search':
    #     - 'Search Cases': thehive/user-guides/search/cases.md
    #     > Add new Search action here
    #   - 'Knowledge Base': thehive/user-guides/knowledge-base.md
      - 'Indicators & KPIs': thehive/user-guides/indicators.md
      - 'Org. administration': 
        - 'Manage Users': thehive/user-guides/organisation/accounts.md
        - 'Templates' :  
          - 'Cases templates': thehive/user-guides/organisation/templates/case-templates.md
          - 'Pages templates': thehive/user-guides/organisation/templates/page-templates.md
          - 'Reports templates': thehive/user-guides/organisation/templates/report-templates.md
        - 'Custom tags': thehive/user-guides/organisation/custom-tags.md
        - 'UI Configuration': thehive/user-guides/organisation/ui-configuration.md
        - 'Notifications & endpoints':
          - 'Introduction': thehive/user-guides/organisation/notifications/introduction.md
    #     - 'Manage endpoints': thehive/user-guides/organisation/notifications/endpoints.md
          # - 'Email to users': thehive/user-guides/organisation/notifications/email-to-users.md
          # - 'Email to specific address': thehive/user-guides/organisation/notifications/email-to-addr.md
          # - 'HTTP request endpoint': thehive/user-guides/organisation/notifications/http-request.md
          # - 'Webhook endpoint': thehive/user-guides/organisation/notifications/webhook.md
          - 'Mattermost': thehive/user-guides/organisation/notifications/mattermost.md
          - 'MS Teams': thehive/user-guides/organisation/notifications/teams.md
          - 'Slack': thehive/user-guides/organisation/notifications/slack.md
          - 'Kafka': thehive/user-guides/organisation/notifications/kafka.md
          - 'Redis': thehive/user-guides/organisation/notifications/redis.md
          # - 'Run Analyzers': thehive/user-guides/organisation/notifications/analyzers.md
          # - 'Run Responders': thehive/user-guides/organisation/notifications/responders.md
        - 'Endpoints': 
          - 'About endpoints': thehive/user-guides/organisation/manage-endpoints/about-endpoints.md
          - 'Add endpoints': thehive/user-guides/organisation/manage-endpoints/add_endpoints.md
        - 'Functions': thehive/user-guides/organisation/functions.md
        - 'Attachments': thehive/user-guides/organisation/attachments.md
      - 'Analyst''s Corner':
        - 'Alerts' : 
          - 'About alerts': thehive/user-guides/analyst-corner/alerts/about-alerts.md          
          - 'Manage views': thehive/user-guides/analyst-corner/alerts/manage-views.md
          - 'Preview alerts': thehive/user-guides/analyst-corner/alerts/preview-alerts.md
          - 'Actions on alerts': thehive/user-guides/analyst-corner/alerts/actions.md
          - 'Merge alerts': thehive/user-guides/analyst-corner/alerts/merge-alerts.md
          - 'Create a case from one or more alerts': thehive/user-guides/analyst-corner/alerts/new-case-from-selection.md
          - 'View an alert': thehive/user-guides/analyst-corner/alerts/general.md 
          - 'Run responders on alert': thehive/user-guides/analyst-corner/alerts/run-responders.md
          - 'View Responders': thehive/user-guides/analyst-corner/alerts/view-responders.md
          - 'View similar alerts': thehive/user-guides/analyst-corner/alerts/view-similar-alerts.md
          - 'View similar cases': thehive/user-guides/analyst-corner/alerts/view-similar-cases.md
          - 'View TTPs': thehive/user-guides/analyst-corner/alerts/view-ttps.md
          - 'View observables': thehive/user-guides/analyst-corner/alerts/view-observables.md
        - 'Cases' :                    
          - 'About cases': thehive/user-guides/analyst-corner/cases/about-a-case.md
          - 'Manage views': thehive/user-guides/analyst-corner/cases-list/manage-views.md
          - 'Preview cases': thehive/user-guides/analyst-corner/cases-list/preview-cases.md
          - 'Actions on cases': thehive/user-guides/analyst-corner/cases-list/actions.md
          - 'Create a case': 
            - 'Create a new case': thehive/user-guides/analyst-corner/cases/create-a-new-case.md
            - 'Create a empty case': thehive/user-guides/analyst-corner/cases/create-empty-case.md
            - 'Create case from archive': thehive/user-guides/analyst-corner/cases/create-case-from-archive.md
            - 'Create case from MISP': thehive/user-guides/analyst-corner/cases/create-case-from-misp.md
            - 'Create case from template': thehive/user-guides/analyst-corner/cases/create-case-from-template.md
          - 'View an case': thehive/user-guides/analyst-corner/cases-list/general.md
          - 'Adding to a case (Tags/Tasks/Custom field values)': thehive/user-guides/analyst-corner/cases/adding_to_a_case.md
          - 'View tasks': thehive/user-guides/analyst-corner/cases-list/tasks.md
          - 'View observables': thehive/user-guides/analyst-corner/cases-list/observables.md
          - 'View TTPs': thehive/user-guides/analyst-corner/cases-list/ttps.md
          - 'View attachments': thehive/user-guides/analyst-corner/cases-list/attachments.md
          - 'View timeline': thehive/user-guides/analyst-corner/cases-list/timeline.md
          - 'View pages': thehive/user-guides/analyst-corner/cases-list/pages.md
          - 'Run responders on case': thehive/user-guides/analyst-corner/cases-list/run-responders.md
          - 'Run analyzers on case': thehive/user-guides/analyst-corner/cases-list/run-analyzer.md          
        - 'Tasks' : 
          - 'About tasks': thehive/user-guides/analyst-corner/task/about-tasks.md
          - 'Manage view': thehive/user-guides/analyst-corner/dashboard/manage-views.md
          - 'Preview tasks': thehive/user-guides/analyst-corner/task/preview-task-details/Preview-tasks.md
          - 'Actions on tasks': thehive/user-guides/analyst-corner/task/preview-task-details/actions.md
          - 'Run responders from task': thehive/user-guides/analyst-corner/task/preview-task-details/run-responders.md
        - 'Dashboard' : 
          - 'About dashboard': thehive/user-guides/analyst-corner/dashboard/about-dashboard.md
          - 'Manage dashboard': thehive/user-guides/analyst-corner/dashboard/manage-dashboard.md
          - 'Manage view': thehive/user-guides/analyst-corner/dashboard/manage-views.md
          - 'Filter and sort': thehive/user-guides/analyst-corner/dashboard/filter-sort.md
        - 'Search' : 
          - 'Search by cases': thehive/user-guides/analyst-corner/search/search-scope-by/cases.md
          - 'Search by alerts': thehive/user-guides/analyst-corner/search/search-scope-by/alerts.md
          - 'Search by observables': thehive/user-guides/analyst-corner/search/search-scope-by/observables.md
          - 'Search by jobs': thehive/user-guides/analyst-corner/search/search-scope-by/jobs.md
          - 'Search by tasks': thehive/user-guides/analyst-corner/search/search-scope-by/tasks.md
          - 'Search by task logs': thehive/user-guides/analyst-corner/search/search-scope-by/tasklogs.md
          
    - 'API':
      - 'API Documentation': thehive/api-docs/" target="_blank
      - 'Python client': https://github.com/thehive-project/thehive4py" target="_blank
    - 'Release Notes':
      - 'Release Notes for TheHive 5.0': thehive/release-notes/release-notes-5.0.md
      - 'Release Notes for TheHive 5.1': thehive/release-notes/release-notes-5.1.md
      - 'Release Notes for TheHive 5.2': thehive/release-notes/release-notes-5.2.md
  - 'Cortex': https://docs.thehive-project.org/cortex/" target="_blank
  - 'Resources': 
    - resources/index.md
    - resources/demo.md
    - resources/howto-vm-demo.md
    - 'IaaS deployment': 
      - 'Amazon AWS': 
        - 'Main Features': resources/iaas/aws/index.md
        - 'Deploy TheHive AMI': resources/iaas/aws/thehive.md
        - 'Deploy Cortex AMI': resources/iaas/aws/cortex.md
        - 'AWS sample code': resources/iaas/aws/infra-as-code/README.md
        - 'Create and manage the SecOps VPC': resources/iaas/aws/infra-as-code/ug-secops-vpc/README.md
        - 'TheHive v5 and Cortex within a SecOps VPC': resources/iaas/aws/infra-as-code/ug-secops-instances/README.md
      - 'Microsoft Azure': 
        - 'Main Features': resources/iaas/azure/index.md
        - 'Deploy TheHive Azure image': resources/iaas/azure/thehive.md
        - 'Deploy Cortex Azure image': resources/iaas/azure/cortex.md
        - 'Azure sample code': resources/iaas/azure/infra-as-code/README.md
        - 'Creating a new SecOps Virtual Network': resources/iaas/azure/infra-as-code/ug-secops-vnet/README.md
        - 'Deploying TheHive v5 and Cortex with Terraform': resources/iaas/azure/infra-as-code/ug-secops-instances/README.md
        - 'Upgrading your Azure instances': resources/iaas/azure/infra-as-code/ug-secops-instances/docs/upgrade.md