copyright: Copyright 2025 StrangeBee. All rights reserved.
site_name: TheHive 5 Documentation
site_url: https://docs.strangebee.com
theme:
  name: material
  custom_dir: ./overrides/
  logo: 'assets/images/strangebee.svg'
  palette:
    # primary: custom
    # accent: custom
  features:
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    # - navigation.sections
    - navigation.instant
    - navigation.instant.progress
    # - navigation.indexes
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - toc.integrate
    - navigation.path
    - announce.dismiss
  # palette:
  #   primary: blue
  #   accent: blue
  font:
    text: Nunito Sans
    code: Source Code Pro
  favicon: assets/images/favicon.ico

extra_css:
  - assets/stylesheets/extra.css

plugins:
  - search
  - awesome-pages
  - glightbox
  - mkdocs-video:
      is_video: True
      video_controls: True
      css_style:
        width: "100%"
  - redirects:
        redirect_maps:
            'thehive/index.md': 'thehive/overview/index.md'
            'thehive/installation/upgrade-from-5.0.x.md': 'thehive/installation/upgrade-from-5.x.md'
            'thehive/release-notes/latest.md' : 'thehive/release-notes/release-notes-5.4.md'
            'thehive/setup/index.md': 'thehive/overview/index.md'
            'thehive/setup/installation/step-by-step-guide.md' : 'thehive/installation/step-by-step-installation-guide.md'
            'thehive/setup/configuration/ssl.md' : 'thehive/configuration/ssl.md'
            'thehive/setup/installation/docker.md':  'thehive/installation/docker.md'


extra:
  generator: false
  social:
    - icon: fontawesome/brands/linkedin
      link: "https://www.linkedin.com/company/strangebee"
    - icon: fontawesome/brands/twitter
      link: "https://twitter.com/StrangeBee"
    - icon: fontawesome/brands/mastodon
      link: "https://infosec.exchange/@Strangebee"
    - icon: fontawesome/brands/discord
      link: "https://chat.thehive-project.org"
    - icon: fontawesome/brands/youtube
      link: "https://www.youtube.com/channel/UCUmojqcxiG_LUbe62pR2Igg"

markdown_extensions:
  - toc:
      permalink: "#"
      title: On this page
  - footnotes
  - attr_list
  - md_in_html
  - def_list
  - codehilite
  - admonition
  - pymdownx.critic
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.details
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - markdown_include.include:
      base_path: docs

nav:
  - Home: index.md
  - TheHive:
    - 'Overview': thehive/overview/index.md
    - 'Download': thehive/download/index.md
    - 'Installation':
      - 'System Requirements': thehive/installation/system-requirements.md
      - 'Automated Installation Script': thehive/installation/automated-installation-script.md
      - 'Step-by-Step Installation Guide': thehive/installation/step-by-step-installation-guide.md
      - 'Deploying a Cluster': thehive/installation/deploying-a-cluster.md
      - 'Running with Docker': thehive/installation/docker.md
      - 'Kubernetes Deployment': thehive/installation/kubernetes.md
      - 'Activating TheHive License': thehive/installation/activate-license.md
      - 'Version Upgrades':
        - 'Upgrade from Version 5.x': thehive/installation/upgrade-from-5.x.md
        - 'Upgrade from Version 4.x': thehive/installation/upgrade-from-4.x.md
        - 'Migration from TheHive 3.x': thehive/installation/migration.md
      - 'Archives': thehive/download/archives.md
    - 'Configuration':
      - 'Database & Index Configuration': thehive/configuration/database.md
      - 'File Storage Configuration': thehive/configuration/file-storage.md
      - 'Connectors Configuration': thehive/configuration/connectors.md
      - 'Akka Configuration': thehive/configuration/akka.md
      - 'Pekko Configuration (TheHive 5.4+)': thehive/configuration/pekko.md
      - 'Logs Configuration': thehive/configuration/logs.md
      - 'Proxy Configuration': thehive/configuration/proxy.md
      - 'Secrets Configuration': thehive/configuration/secret.md
      - 'SSL Configuration': thehive/configuration/ssl.md
      - 'Service Configuration': thehive/configuration/service.md
      - 'Compliance':
        - 'General Data Protection Regulation (GDPR)': thehive/configuration/gdpr.md
    - 'Operations':
      - 'Cassandra Cluster Operations': thehive/operations/cassandra-cluster.md
      - 'Cassandra Security Operations': thehive/operations/cassandra-security.md
      - 'MinIO Cluster Operations': thehive/operations/minio-cluster.md
      - 'Backup & Restore Operations': 
        - 'Overview':  thehive/operations/backup-restore/overview.md
        - 'Backup Process':
            - 'Physical Server':  thehive/operations/backup-restore/backup/physical-server.md
            - 'Virtual Server':  thehive/operations/backup-restore/backup/virtual-server.md
            - 'Docker Compose':  thehive/operations/backup-restore/backup/docker-compose.md
            # - 'Cloud Infrastructure':  thehive/operations/backup-restore/backup/cloud.md
            - 'Hot backups': thehive/operations/backup-restore/backup/hot-backup.md
        - 'Restore Process':
            - 'Physical Server':  thehive/operations/backup-restore/restore/physical-server.md
            - 'Virtual Server':  thehive/operations/backup-restore/restore/virtual-server.md
            - 'Docker Compose':  thehive/operations/backup-restore/restore/docker-compose.md
            - 'Cloud Infrastructure':  thehive/operations/backup-restore/restore/cloud.md
            - 'Restore hot backups': thehive/operations/backup-restore/restore/restore-hot-backup.md
      - 'Index Management': thehive/operations/change-index.md
      - 'Troubleshooting Guide': thehive/operations/troubleshooting.md
      - 'Monitoring Setup': thehive/operations/monitoring.md
    - 'Administration Guides':
      - 'TheHive - First Start': thehive/administration/first-start.md
      - 'Manage Organizations':
        - 'Creating an Organization': thehive/administration/organisations.md
        - 'Updating an Organization': thehive/administration/organisations.md
        - 'Linking Organizations': thehive/administration/organisation-links.md
      - 'Manage Accounts':
        - 'Account Creation/Update Guide': thehive/administration/accounts.md
      - 'Platform Management':
        - 'Branding Guide': thehive/administration/branding.md
        - 'License Management': thehive/administration/license.md
        - 'Cortex Integration': thehive/administration/cortex.md
        - 'MISP Integration': thehive/administration/misp.md
        - 'Email Intake Connector': thehive/administration/email-intake-connector.md
        - 'Authentication Settings':
          - 'General Settings': thehive/administration/authentication/general.md
          - 'Local Authentication': thehive/administration/authentication/local.md
          - 'LDAP Authentication': thehive/administration/authentication/ldap.md
          - 'Active Directory (AD) Authentication': thehive/administration/authentication/ad.md
          - 'SAML Authentication': thehive/administration/authentication/saml.md
          - 'OAUTH2 Authentication': thehive/administration/authentication/oauth2.md
        - 'SMTP Configuration': thehive/administration/smtp.md
      - 'Entities Management':
        - 'Profiles Management': thehive/administration/profiles.md
        - 'Custom Fields Management': 
          - 'About Custom Fields': thehive/administration/custom-fields/about-custom-fields.md
          - 'Create a Custom Field': thehive/administration/custom-fields/create-a-custom-field.md
        - 'Observable Types Management': thehive/administration/observables-types.md
        - 'Case Status Management': thehive/administration/case-status.md
        - 'Alert Status Management': thehive/administration/alert-status.md
        - 'Analyzers Templates Management': thehive/administration/analyzers-templates.md
        - 'Taxonomies Management': thehive/administration/taxonomies.md
        - 'Att&ck Patterns Management': thehive/administration/attack-patterns.md
      - 'How To':
        - 'Fail2ban Configuration': thehive/how-to/fail2ban.md
        - 'Notification Configuration': thehive/how-to/notifications.md
        - 'Splunk Integration Guide': thehive/how-to/splunk-integration.md
        #- 'Markdown Usage Guide': thehive/how-to/markdown.md
    - 'User Guides':
      - 'Forgot Password Guide': thehive/user-guides/forgot-password.md
      - 'Indicators & KPIs Overview': thehive/user-guides/indicators.md
      - 'Organization Administration':
        - 'User Management': thehive/user-guides/organisation/accounts.md
        - 'Templates Management':
          - 'Cases Templates Management': thehive/user-guides/organisation/templates/case-templates.md
          - 'Pages Templates Management': thehive/user-guides/organisation/templates/page-templates.md
          - 'Reports Templates Management': thehive/user-guides/organisation/templates/report-templates.md
        - 'Custom Tags Management': thehive/user-guides/organisation/custom-tags.md
        - 'UI Configuration Guide': thehive/user-guides/organisation/ui-configuration.md
        - 'Notifications & Endpoints Setup':
          - 'Introduction to Notifications & Endpoints': thehive/user-guides/organisation/notifications/introduction.md
          - 'Notifier Configuration':
            - 'Mattermost Configuration': thehive/user-guides/organisation/notifications/mattermost.md
            - 'MS Teams Configuration': thehive/user-guides/organisation/notifications/teams.md
            - 'Slack Configuration': thehive/user-guides/organisation/notifications/slack.md
            - 'Kafka Configuration': thehive/user-guides/organisation/notifications/kafka.md
            - 'Redis Configuration': thehive/user-guides/organisation/notifications/redis.md
          - 'Filtered Events Setup': thehive/user-guides/organisation/notifications/filteredevents.md
        - 'Endpoints Management':
          - 'About Endpoints': thehive/user-guides/organisation/manage-endpoints/about-endpoints.md
          - 'Add Endpoints': thehive/user-guides/organisation/manage-endpoints/add_endpoints.md
        - 'Functions Configuration': thehive/user-guides/organisation/functions.md
        - 'Attachments Usage Guide': thehive/user-guides/organisation/attachments.md
      - 'Analyst''s Corner':
        - 'Alerts Management':
          - 'About Alerts': thehive/user-guides/analyst-corner/alerts/about-alerts.md
          - 'Search for Alerts': 
            - 'Find an Alert': thehive/user-guides/analyst-corner/alerts/search-for-alerts/find-an-alert.md
            - 'Overview of Search Methods for Alerts': thehive/user-guides/analyst-corner/alerts/search-for-alerts/overview-search-methods-alert.md
          - 'Manage Views': thehive/user-guides/analyst-corner/alerts/manage-views.md
          - 'Preview Alerts': thehive/user-guides/analyst-corner/alerts/preview-alerts.md
          - 'Actions on Alerts': thehive/user-guides/analyst-corner/alerts/actions.md
          - 'Merge Alerts': thehive/user-guides/analyst-corner/alerts/merge-alerts.md
          - 'Create a Case from Alerts': thehive/user-guides/analyst-corner/alerts/new-case-from-selection.md
          - 'View Alert Details': thehive/user-guides/analyst-corner/alerts/general.md 
          - 'Run Responders on Alert': thehive/user-guides/analyst-corner/alerts/run-responders.md
          - 'View Responders': thehive/user-guides/analyst-corner/alerts/view-responders.md
          - 'View Similar Alerts': thehive/user-guides/analyst-corner/alerts/view-similar-alerts.md
          - 'View Similar Cases': thehive/user-guides/analyst-corner/alerts/view-similar-cases.md
          - 'View TTPs': thehive/user-guides/analyst-corner/alerts/view-ttps.md
          - 'View Observables': thehive/user-guides/analyst-corner/alerts/view-observables.md
        - 'Cases Management':
          - 'About Cases': thehive/user-guides/analyst-corner/cases/about-a-case.md
          - 'Manage Views': thehive/user-guides/analyst-corner/cases-list/manage-views.md
          - 'Preview Cases': thehive/user-guides/analyst-corner/cases-list/preview-cases.md
          - 'Actions on Cases': thehive/user-guides/analyst-corner/cases-list/actions.md
          - 'Create a Case':
            - 'Create a New Case': thehive/user-guides/analyst-corner/cases/create-a-new-case.md
            - 'Create an Empty Case': thehive/user-guides/analyst-corner/cases/create-empty-case.md
            - 'Create a Case from Archive': thehive/user-guides/analyst-corner/cases/create-case-from-archive.md
            - 'Create a Case from MISP': thehive/user-guides/analyst-corner/cases/create-case-from-misp.md
            - 'Create a Case from Template': thehive/user-guides/analyst-corner/cases/create-case-from-template.md
          - 'Search for Cases': 
            - 'Find a Case': thehive/user-guides/analyst-corner/cases/search-for-cases/find-a-case.md
            - 'Overview of Search Methods for Cases': thehive/user-guides/analyst-corner/cases/search-for-cases/overview-search-methods-case.md
          - 'View a Case': thehive/user-guides/analyst-corner/cases-list/general.md
          - 'Adding to a Case (Tags/Tasks/Custom Field Values)': thehive/user-guides/analyst-corner/cases/adding_to_a_case.md
          - 'View Tasks': thehive/user-guides/analyst-corner/cases-list/tasks.md
          - 'View Observables': thehive/user-guides/analyst-corner/cases-list/observables.md
          - 'View TTPs': thehive/user-guides/analyst-corner/cases-list/ttps.md
          - 'View Attachments': thehive/user-guides/analyst-corner/cases-list/attachments.md
          - 'View Timeline': thehive/user-guides/analyst-corner/cases-list/timeline.md
          - 'View Pages': thehive/user-guides/analyst-corner/cases-list/pages.md
          - 'Run Responders on Case': thehive/user-guides/analyst-corner/cases-list/run-responders.md
          - 'Run Analyzers on Case': thehive/user-guides/analyst-corner/cases-list/run-analyzer.md
          - 'Find an Observable': thehive/user-guides/analyst-corner/cases/find-an-observable.md
          - 'Find a Job': thehive/user-guides/analyst-corner/cases/find-an-job.md
        - 'Tasks Management':
          - 'About Tasks': thehive/user-guides/analyst-corner/tasks/about-tasks.md
          - 'Search for Tasks': 
            - 'Find a Task': thehive/user-guides/analyst-corner/tasks/search-for-tasks/find-a-task.md
            - 'Overview of Search Methods for Tasks': thehive/user-guides/analyst-corner/tasks/search-for-tasks/overview-search-methods-task.md
          - 'Manage View': thehive/user-guides/analyst-corner/dashboard/manage-views.md
          - 'Preview Tasks': thehive/user-guides/analyst-corner/tasks/preview-task-details/Preview-tasks.md
          - 'Actions on Tasks': thehive/user-guides/analyst-corner/tasks/preview-task-details/actions.md
          - 'Run Responders from Task': thehive/user-guides/analyst-corner/tasks/preview-task-details/run-responders.md
        - 'Dashboard Usage':
          - 'About Dashboard': thehive/user-guides/analyst-corner/dashboard/about-dashboard.md
          - 'Manage Dashboard': thehive/user-guides/analyst-corner/dashboard/manage-dashboard.md
          - 'Manage View': thehive/user-guides/analyst-corner/dashboard/manage-views.md
          - 'Filter and Sort': thehive/user-guides/analyst-corner/dashboard/filter-sort.md
        - 'Choose Your Theme': thehive/user-guides/analyst-corner/theme.md
          
    - 'API':
      - 'API Documentation': thehive/api-docs/
      - 'Python Client': https://github.com/thehive-project/thehive4py

    - 'Release Notes':
      - 'Release Notes for Version 5.0': thehive/release-notes/release-notes-5.0.md
      - 'Release Notes for Version 5.1': thehive/release-notes/release-notes-5.1.md
      - 'Release Notes for Version 5.2': thehive/release-notes/release-notes-5.2.md
      - 'Release Notes for Version 5.3': thehive/release-notes/release-notes-5.3.md
      - 'Release Notes for Version 5.4': thehive/release-notes/release-notes-5.4.md
  - Cortex: 
    - cortex/index.md
    - 'Download':
      - 'cortex/download/index.md'
    - 'Installation & configuration':
      -  ./cortex/installation-and-configuration/authentication.md
      -  ./cortex/installation-and-configuration/secret.md
      -  ./cortex/installation-and-configuration/advanced-configuration.md
      -  ./cortex/installation-and-configuration/ssl.md
      -  ./cortex/installation-and-configuration/step-by-step-guide.md
      -  ./cortex/installation-and-configuration/index.md
      -  ./cortex/installation-and-configuration/analyzers-responders.md
      -  ./cortex/installation-and-configuration/run-cortex-with-docker.md
      -  ./cortex/installation-and-configuration/proxy-settings.md
      -  ./cortex/installation-and-configuration/docker.md
      -  ./cortex/installation-and-configuration/database.md
    - 'User Guides':  
      - 'First start' : 'cortex/user-guides/first-start.md'
      - 'User roles' : 'cortex/user-guides/roles.md'
    - 'Operations': 
      # - 'cortex/operations/index.md'
      -  'Backup & Restore': 'cortex/operations/backup-restore.md'
      -  'Analyzers/Responders input and output': 'cortex/operations/input-output.md'
      -  'Upgrade to Cortex 3.1': 'cortex/operations/upgrade_to_cortex_3_1_and_es7_x.md'
    - 'API':
      - 'API Guide': './cortex/api/api-guide.md'
      - 'How to create an Analyzer' : './cortex/api/how-to-create-an-analyzer.md'
      - 'How to create a Responder': './cortex/api/how-to-create-a-responder.md'
  - 'Cortex Neurons': https://thehive-project.github.io/Cortex-Analyzers/" target="_blank
  - 'Resources': 
    - resources/index.md
    - resources/templates.md
    - 'Demo Virtual Machine':
      - 'How to download the VM': resources/demo.md
      - resources/howto-vm-demo.md
    - 'IaaS deployment': 
      - 'Amazon AWS': 
        - 'Main Features': resources/iaas/aws/index.md
        - 'Deploy TheHive AMI': resources/iaas/aws/thehive.md
        - 'Deploy Cortex AMI': resources/iaas/aws/cortex.md
        - 'AWS sample code': resources/iaas/aws/infra-as-code/README.md
        - 'Create and manage the SecOps VPC': resources/iaas/aws/infra-as-code/ug-secops-vpc/README.md
        - 'TheHive v5 and Cortex within a SecOps VPC': resources/iaas/aws/infra-as-code/ug-secops-instances/README.md
      - 'Microsoft Azure': 
        - 'Main Features': resources/iaas/azure/index.md
        - 'Deploy TheHive Azure image': resources/iaas/azure/thehive.md
        - 'Deploy Cortex Azure image': resources/iaas/azure/cortex.md
        - 'Azure sample code': resources/iaas/azure/infra-as-code/README.md
        - 'Creating a new SecOps Virtual Network': resources/iaas/azure/infra-as-code/ug-secops-vnet/README.md
        - 'Deploying TheHive v5 and Cortex with Terraform': resources/iaas/azure/infra-as-code/ug-secops-instances/README.md
        - 'Upgrading your Azure instances': resources/iaas/azure/infra-as-code/ug-secops-instances/docs/upgrade.md
    - 'Open source projects': 
        - 'SDK':
          - "TheHive4py": resources/thehive4py.md
          - "Cortex4py": resources/cortex4py.md
          - "Cortexutils": resources/cortexutils.md
    - 'Security': resources/security.md
