@use "../abstracts" as *;

.feature {
	font-family: "Lato", sans-serif;
	font-weight: 300;
	box-sizing: border-box;
	padding: 0 15px;
	word-break: break-word;

	h2 svg {
		height: 30px;
		float: left;
		margin-right: 10px;
		transform: translateY(10%);
	}

	h2 {
		color: #333;
		font-weight: 300;
		font-size: 25px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		line-height: normal;
		margin-top: 20px;
		margin-bottom: 10px;
		font-family: inherit;
	}

	p {
		font-size: var(--size-normal-px);
		line-height: 1.8em;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		color: #111;
		margin: 0 0 10px;
		display: block;
	}

	&__grid {
		padding: 0;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: var(--size-normal-px);

		@include respond-max($breakpoint-medium) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include respond-max($breakpoint-tablet) {
			grid-template-columns: 1fr;
		}
	}

	&__card {
		border: 1px solid rgba(0, 0, 0, 0.1);
		padding: var(--size-normal-px);
		border-radius: 4px;
		list-style: none;
	}

	&__title {
		font-size: 18px;
		font-weight: bold;
		color: var(--md-primary-fg-color);
	}

	&__content {
		font-size: 14px;
		color: var(--md-primary-fg-color);
	}

	&-item {
		@include respond-min($breakpoint-laptop) {
			flex: 1;
			min-width: 0;

			&:hover {
				background-color: rgb(198, 243, 298);
				border-radius: 3px;
			}
		}
	}
}
