@use "../abstracts/" as *;

.md-main {
	flex-grow: 0;

	&__inner {
		display: flex;
		height: 100%;
	}
}

.md-container:not(:has(.tx-container)) .md-main__inner {
	min-height: calc(100vh - 215px);

	@include respond-max($breakpoint-laptop) {
		min-height: calc(100vh - 161px);
	}

	@include respond-max(719px) {
		min-height: calc(100vh - 190px);
	}
}
