@use "../abstracts/" as *;

[dir="ltr"] {
	.md-sidebar {
		width: 15rem;

		&--primary {
			padding-right: 3%;

			left: -15.1rem;
		}
	}

	[data-md-toggle="drawer"]:checked ~ .md-container .md-sidebar--primary {
		transform: translateX(15.1rem);
	}
}
