@use "../abstracts" as *;

.top-hr {
	margin-top: 42px;

	@include respond-min($breakpoint-laptop) {
		width: 100%;
		display: flex;
		max-width: 61rem;
		margin-right: auto;
		margin-left: auto;
		padding: 0 0.2rem;
	}
}
