@use "../abstracts" as *;

.tx-hero {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--size-large-px);

	margin: var(--size-large-px) 0;
	padding-left: var(--size-normal-px);
	padding-right: var(--size-normal-px);

	color: var(--md-primary-bg-color);

	@include respond-max($breakpoint-small) {
		flex-direction: column;
		gap: var(--size-normal-px);
	}

	h1 {
		margin-bottom: var(--size-normal);
		color: currentColor;
		font-weight: var(--fontWeight-bold);

		@include respond-max(30rem) {
			font-size: 1.4rem;
		}
	}

	&__content {
		padding-bottom: var(--size-normal);
		margin: 0 auto;

		@include respond-min($breakpoint-medium) {
			max-width: 22rem;
			margin-top: 3.5rem;
			margin-bottom: 3.5rem;
			margin-left: 0;
			margin-right: 4rem;
			align-items: center;
		}
	}

	&__image {
		width: 50%;
		max-height: 17rem;
		order: 1;
		padding-left: 2.5rem;
		height: fit-content;

		@include respond-max($breakpoint-laptop) {
			padding-left: 0;
		}

		@include respond-max($breakpoint-small) {
			width: 100%;
			max-width: 27rem;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.md-button {
		margin-top: var(--size-small);
		margin-right: var(--size-small);
		color: var(--md-primary-bg-color);
	}

	.md-button--primary {
		background-color: var(--md-primary-bg-color);
		color: var(--md-primary-fg-color--dark);
		border-color: var(--md-primary-bg-color);
	}

	.md-button {
		&:focus,
		&:hover {
			background-color: var(--md-primary-fg-color--light);
			color: var(--md-default-bg-color);
			border-color: var(--md-primary-fg-color--light);
		}
	}
}
