.md-banner a,
.md-banner a:hover,
.md-banner a:focus {
  color: currentColor;
}

.md-banner .twitter {
  color: #00acee;
}

.md-header__topic {
  display: none;
}

.md-content {
  padding-left: 4%;
  padding-right: 3%;
}

.md-sidebar--primary {
  padding-right: 3%;
}

.md-sidebar {
  width: 15.0rem;
}

.md-typeset h1 {
  color: #000000ee;
  font-weight: 500;
}

.md-typeset h2 {
  color: #000000ee;
  font-weight: 500;
}

/* .md-typeset h1, .md-typeset h2 {
  color: #000000d6;
} */

/* .md-content {
      flex-grow: 1;
      min-width: 80em;
} */
/* .md-header,
.md-header .md-header__inner {
  background-color: #fff;
  color: initial;
} */

:root {
  --md-primary-fg-color:        #1B1B34;
  --md-primary-fg-color--light: #E9CF42;
  --md-primary-fg-color--dark:  #1B1B34;
}
