@forward "./variables/";
@forward "./bases/";
@forward "./components/";
html {
  scroll-behavior: smooth;
  font-size: 22px; }
  @media (max-width: 1220px) {
    html {
      font-size: 20px; } }
  @media (max-width: 480px) {
    html {
      font-size: 20px; } }

header.md-header {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-shadow: unset !important;
  border-bottom: 3px solid #ebeef5; }
  @media (max-width: 1220px) {
    header.md-header .logo-frame {
      flex-grow: 1; } }
  header.md-header .logo-frame img {
    display: inline-block;
    height: 3rem;
    width: auto; }
    @media (max-width: 480px) {
      header.md-header .logo-frame img {
        height: 2.9rem; } }
    @media (max-width: 360px) {
      header.md-header .logo-frame img {
        height: 2.5rem; } }
  header.md-header .md-header__inner {
    padding: .45rem 1.76rem;
    max-width: unset;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: unset; }
    @media (max-width: 1220px) {
      header.md-header .md-header__inner {
        padding: .45rem 1.76rem; } }
    @media (max-width: 480px) {
      header.md-header .md-header__inner {
        padding: .05rem .3rem;
        justify-content: flex-start;
        gap: .03rem; } }
  header.md-header .md-header__button {
    background: #1969FF;
    border-radius: 5.20833rem;
    color: #fff !important;
    flex-shrink: 0;
    z-index: 0; }
    @media (max-width: 480px) {
      header.md-header .md-header__button {
        padding: .5rem; } }
  header.md-header .md-tabs {
    background: unset; }
    header.md-header .md-tabs .md-grid, header.md-header .md-tabs__list {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1.33em;
      --md-accent-fg-color: #000; }
    header.md-header .md-tabs__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start; }
    header.md-header .md-tabs__link {
      color: #000;
      text-align: center;
      font-family: 'Poppins';
      font-size: 0.7rem;
      font-style: normal;
      font-weight: 500;
      line-height: 144%;
      margin-top: unset !important; }
  header.md-header .md-search__inner {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    transition: margin .35s ease; }
  header.md-header .md-search__icon {
    position: relative;
    left: unset;
    top: unset;
    display: inline-block;
    padding: .38rem;
    background: #1969FF;
    border-radius: 5.20833rem;
    color: #fff !important; }
  header.md-header .md-search__form {
    background: #ebecef;
    border-radius: 5rem !important;
    padding: .31rem .75rem;
    box-sizing: content-box;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row; }
    @media (max-width: 959px) {
      header.md-header .md-search__form {
        border-radius: 0 !important;
        flex-direction: row-reverse;
        gap: .7rem; }
        header.md-header .md-search__form .md-search__options {
          gap: .15rem;
          top: .5rem; }
        header.md-header .md-search__form .md-search__icon {
          left: unset !important; } }
  header.md-header .md-search__output {
    padding-top: 1.5rem;
    margin-top: -.7rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    background: #ebecef; }
  header.md-header .md-search__suggest {
    padding-left: 0 !important;
    pointer-events: none; }
  header.md-header .md-search__options {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: .33rem;
    right: .2rem;
    top: .2rem; }
    header.md-header .md-search__options .md-icon:hover {
      opacity: 1 !important; }
  header.md-header .md-search__input {
    padding: 0 !important;
    overflow: hidden;
    font-family: 'Poppins';
    font-size: 0.72917rem;
    font-style: normal;
    font-weight: 400;
    line-height: 144%;
    color: #000; }
    header.md-header .md-search__input::placeholder {
      color: #949DAA; }
  @media (max-width: 480px) {
    header.md-header .md-logo {
      flex-grow: 1; } }
  header.md-header .md-logo img {
    height: 4.58333rem;
    width: auto; }

footer {
  margin-top: 5rem; }
  @media (max-width: 480px) {
    footer {
      margin-top: 0rem; } }

[data-md-toggle=search]:checked ~ .md-header .md-tabs {
  z-index: -1; }
[data-md-toggle=search]:checked ~ .md-header .md-search__inner {
  margin-left: -23rem; }
  @media (max-width: 1220px) {
    [data-md-toggle=search]:checked ~ .md-header .md-search__inner {
      margin-left: 0rem; } }
  @media (max-width: 480px) {
    [data-md-toggle=search]:checked ~ .md-header .md-search__inner {
      font-size: 20px; } }

@media (min-width: 1219px) {
  body:has(section.docs-hero) .md-main * {
    display: none; } }

/*# sourceMappingURL=extra.css.map */
