.md-banner a,
.md-banner a:hover,
.md-banner a:focus {
  color: currentColor;
}

.md-banner .twitter {
  color: #00acee;
}

.md-header__topic {
  display: none;
}

.md-content {
      flex-grow: 1;
      min-width: 80em;
}
/* .md-header,
.md-header .md-header__inner {
  background-color: #fff;
  color: initial;
} */
